{%extends "index.html"%}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{%block title%}User Register{%endblock%}
	{%block css%}{{super()}}
	<link rel="stylesheet" href="{{url_for('static',filename='css/form.css')}}">{%endblock%}
</head>
<body>
{%block content%}
<div class="register">
	{%block formbody%}
	    <form action="{{request.url}}" method="post">
		{%for field in form%}
			<label for="{{field.label.field_id}}" class="{{field.label.field_id}}">{{field.label.text}}</label>
			{{field()}}
		{%endfor%}
		<div><input id="submit" type="submit" ></div>	
	    </form>	
	{%endblock%}
</div>
{%endblock%}

</body>
</html>
