{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{%block title%}Flaskr{%endblock%}

{% block styles %}
{{super()}}
	<link rel="stylesheet" href="{{url_for('.static', filename='css/github-markdown.css')}}">
	<link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}">
	<link rel="stylesheet" href="http://www.xushuli.cc/css/semantic.min.css">
{% endblock %}

{%block navbar %}
	{{nav.mynavbar.render("my_bootstrap_render")}}
{%endblock%}

{%block content%}
<div class="container">
	{%block flash%}
	{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
	<div class="row">
		<div class="col-md-12">
		{% for category, message in messages %}
			<div class="alert alert-warning">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				
				{{ message }}
			</div>
		{% endfor %}
		</div>
	</div>
	{% endif %}
	{% endwith %}	
	{%endblock%}
	
	{%block page_content%}
	{%endblock%}
</div>
{%endblock%}


{%block scripts%}
{{super()}}
<!--<script src="http://www.xushuli.cc/js/jq.js"></script>-->
<script src="http://www.xushuli.cc/js/semantic.min.js"></script>
{%endblock%}