{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{%block title%}Flaskr{%endblock%}

{% block styles %}
{{super()}}
	<link rel="stylesheet"
	      href="{{url_for('.static', filename='css/style.css')}}">
	<link rel="stylesheet"
	      href="{{url_for('.static', filename='css/github-markdown.css')}}">
{% endblock %}

{%block navbar %}
	{{nav.mynavbar.render()}}
{%endblock%}

{%block content%}
<ol>
	{% for article in articles%}
	<li>
		<a href="{{url_for('article',article_title=article.title)}}">{{article.title}}</a>
	</li>
	{%endfor%}
</ol>
{%endblock%}
