{%macro markdown(md)%}
<div class="markdown">
{%autoescape false%}
{{md | markdown}}
{{caller()}}
{% endautoescape %}	
</div>
{%endmacro%}

{%macro horizontal_form(form)%}
<form method="post" class="form-horizontal" role="form">
{%for field in form%}
	
{%if field.type=="SubmitField"%}
	{{caller()}}
	<div class="col-md-12">
		{{field(class="btn btn-primary")}}
	</div>
{%elif field.type=="TextAreaField"%}
		<div class="form-group">
		<label for="{{field.label.field_id}}" class="col-md-2 control-label">{{field.label.text}}</label>
		<div class="col-md-10">
			{{field(class="form-control", rows="4")}}
		</div>
	</div>
{%else%}
	<div class="form-group">
		<label for="{{field.label.field_id}}" class="col-md-2 control-label">{{field.label.text}}</label>
		<div class="col-md-10">
			{{field(class="form-control")}}
		</div>
	</div>
{%endif%}
	
{%endfor%}
</form>
{%endmacro%}